/* General page styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
    margin-top: 20px;
}

#numbers {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 15px;
    margin-top: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.number-image {
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.number-image:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.message {
    margin-top: 20px;
    font-size: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
